/* -----------------------------------hero section -----------------------------------------*/
.hero-section {
    background-image: url(./assets/home/homepage-photo@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    padding: 6.2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;

    .hero-card {
        padding: 0rem 3rem;

        & a {
            text-decoration: underline;
        }
    }

    .hero-card-content,
    a {
        margin-bottom: 3rem;
        text-align: center;
    }
}

/*--------------------------------hero section -------------------------------------------*/

/*------------------------------------take action section---------------------------------*/
.take-action-section {
    padding: 0rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.take-action-content {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;

    .take-action-detail {
        line-height: 1.5;
    }

    margin-bottom: 5rem;
}

/*------------------------------------take action section---------------------------------*/


/*-------------------------------------what we do section---------------------------------*/
.what-we-do-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
}

.card-container {
    padding: 0rem 3rem;
}

.what-we-do-card {
    transform: translateY(-8%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;

    img {
        aspect-ratio: 2 / 1.5;
    }

    .heading-3{
        margin-bottom: 1rem;
    }
    text-align: center;

    .green-button {
        justify-self: center;
    }
}

.what-we-do-card-heading {
    font-size: 1.8rem;
    font-weight: bold;
}

.what-we-do-cards-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 5rem;
}

/*-------------------------------------what we do section---------------------------------*/


/*-------------------------------------did you know section---------------------------------*/

.did-you-know-section {
    background-image: url(./assets/home/did-you-know-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 3rem;
}

.did-you-know-card-section {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.did-you-know-card {
    padding: 2rem;
}

.did-you-know-card:first-of-type {
    padding-top: 0rem;
}

.did-you-know-card-content {
    display: flex;
    justify-content: space-between;

    .details-container {
        display: flex;
        flex-direction: column;

        .heading {
            margin-bottom: 1rem;
        }

        .card-description {
            height: 100%;
        }
    }

    .buttons-container {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        button {
            padding: 1rem;
            display: grid;
            place-items: center;

        }
    }
}

/*-------------------------------------did you know section---------------------------------*/

/*-------------------------------------stories section---------------------------------*/

.stories-section {
    padding: 3rem 3rem 6rem 3rem;
}

.stories-content {
    margin-top: 3rem;
    padding: 3rem;
}

.stories-bottom-sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.event-card-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    gap: 3rem;
}

.event-card {
    text-align: center;

    .heading {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .event-card-content {
        margin-bottom: 4rem;
        p{
            margin-bottom: 6rem;
        }
    }
}

/*-------------------------------------stores section---------------------------------*/

/*-------------------------------------subscribe section---------------------------------*/


.input-container {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    button {
        padding: 1rem;
        flex-grow: 1;
    }

    input {
        flex-grow: 2;
        font-size: 1rem;
    }
}

/*-------------------------------------subscribe section---------------------------------*/


@media(width > 648px) {
    html {
        font-size: 12px;
    }

    /* -----------------------------------header section -----------------------------------------*/
    .navigation-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-main-section {
            flex-direction: column;
            align-items: start;
            gap: 2rem;

            .navbar {
                flex-direction: row;
                gap: 2rem
            }
        }
    }

    /* -----------------------------------header section -----------------------------------------*/

    /* -----------------------------------hero section -----------------------------------------*/
    .hero-card {
        text-align: left;

        .navy-blue-card-title {
            margin-left: 0;
        }

        .hero-card-content {
            text-align: left;
        }

        a {
            align-self: start;
        }

    }

    /* -----------------------------------hero section -----------------------------------------*/

    /* -----------------------------------take action section -----------------------------------------*/
    .take-action-content {
        column-gap: 6rem;
        row-gap: 3rem;
    }

    /* -----------------------------------hero section -----------------------------------------*/

    /* -----------------------------------wahat we do section -----------------------------------------*/
    .what-we-do-section {
        gap: 2rem;

        .heading {
            text-align: left;
        }
        .what-we-do-cards-section{
            padding: 0;
        }


        .white-card-title {
            margin-left: 0;
        }

        .what-we-do-card {
            grid-template-rows: repeat(2, auto);
            grid-template-columns: repeat(2, 1fr);
            background-color: transparent;

            .what-we-do-card-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-area: 1 / 2 / 3 / 3;
            }

            .green-button {
                justify-self: end;
            }

        }
    }

    /* -----------------------------------what we do section -----------------------------------------*/

    /* -----------------------------------did you know section -----------------------------------------*/
    .did-you-know-container {
        
       display: grid;
       grid-template-columns: repeat(2,1fr);
        gap: 2rem;

        .did-you-know-card-section {
            margin-top: 0rem;
        }
        .navy-blue-card-title{
            margin-left: 0;
        }
        .did-you-know-card{
            min-width: 100%;
            max-width: 500px;
        }
    }

    /* -----------------------------------what we do section -----------------------------------------*/

    /* -----------------------------------stories section -----------------------------------------*/
    .stories-top-sub-section {
        img{
            width: 80vw;
        }
        .navy-blue-card-title {
            margin-left: 5rem;
        }
    }

    .stories-section {
        padding-bottom: 0rem;

        img {
            padding-right: 5rem;
        }
    }

    .stories-bottom-sub-section {
        transform: translateY(-30%);
        padding-left: 5rem;

        .green-button {
            align-self: start;
        }
    }

    /* -----------------------------------stories section -----------------------------------------*/

    /* -----------------------------------event section -----------------------------------------*/

    .event-section .section-title {
        white-space: pre-line;
    }

    .event-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5rem auto ;
        column-gap: 3rem;
        align-items: start;

        img {
            grid-area: 1/1/4/2;
        }

        .white-card-title {
            transform: translateY(0%);
            margin-left: 0;
        }

        .event-card-content {
            text-align: left;
        }

        .green-button {
            margin-right: auto;
        }
    }

    .event-card:nth-of-type(2) {
        img {
            grid-area: 1 / 2 / 4 / 3;
        }
    }

    /* -----------------------------------event section -----------------------------------------*/

    /* -----------------------------------subscribe section -----------------------------------------*/

    .subscribe-container {
        h2 {
            white-space: pre-line;
        }

        .input-container {
            flex-wrap: nowrap;
            flex-grow: 1;

            .email-input {
                padding-left: 3rem;
                text-align: left;
                flex-grow: 2;
            }
        }
    }

    /* -----------------------------------subscribe section -----------------------------------------*/


    /* -----------------------------------footer section -----------------------------------------*/

    .footer-container {
        column-gap: auto;
        grid-template-columns: repeat(3, auto);

        .section-title {
            text-align: left;
            grid-area: 2 / 3 / 3 / 4;
        }

        .contact-us-section {
            justify-self: start;
        }

        .learn-more-section {
            justify-self: start;
            grid-area: 2 / 2 / 3 / 3;
        }

    }

    /* -----------------------------------footer section -----------------------------------------*/


}


@media(width > 998px) {

    .container{
        max-width: 1200px;
    }
    html {
        font-size: 12px;
    }
    .container{
        margin: 0 auto;
    }

    /* -----------------------------------header section -----------------------------------------*/
    .navigation-container {
        justify-content: space-between;
        .header-main-section {
            .title {
                flex-grow: 1;
            }

            flex-grow: 2;
            flex-direction: row;
            justify-content: start;
            align-items: center;

            nav {
                flex-grow: 5;

                ul {
                    justify-content: space-evenly;
                }
            }
        }
    }

    /* -----------------------------------hero section -----------------------------------------*/
    .hero-container {
        height:60vh;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2,1fr);
        gap: 5rem;

        .hero-card {
            order: -1;
        }
        
    }
        /* -----------------------------------take section -----------------------------------------*/
        .take-action-content{
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 1fr;
        }

    /* -----------------------------------what we do section -----------------------------------------*/
    .what-we-do-cards-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 2.5rem;
    }
    
    .what-we-do-container .heading{
        padding-bottom: 2rem;
    }

    .what-we-do-section {

        .card-container {
            width:90%;            

            padding: 0;
        }

        .what-we-do-cards-section {
            padding-left: 0;
            gap: 4rem;
        }

        .what-we-do-card {
            transform: translate(10%,-10%);

            .image-container img {
               width: 100%;
               aspect-ratio: 16/9;
            }

            .what-we-do-card-description {
                grid-area: 2 / 1 / 3 / 2;
                text-align: left;
                padding-right:8rem;
            }

            .green-button {
                margin-right:  auto ;
            }

            grid-template-rows: repeat(3, auto);
            grid-template-columns: 1fr;
        }
    }
        /* -----------------------------------did you know section -----------------------------------------*/
        .did-you-know-container{
            gap:10rem
        }
            /* -----------------------------------did you know section -----------------------------------------*/


    /* -----------------------------------stories section -----------------------------------------*/

    .stories-container {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        padding-bottom: 3rem;

        .stories-top-sub-section {
            z-index: -1;
            align-self: end;

            img {
                width: 100%;
                height: 200%;
                padding-right: 0rem;
            }
        }

        .stories-bottom-sub-section {
            align-self: end;
            order: -1;
            transform: translateY(0%);
            transform: translateX(3%);

            .stories-content {

                .heading {
                    text-align: left;
                }
            }

            .green-button {
                align-self: start;
            }
        }
    }

    /* -----------------------------------subscribe section -----------------------------------------*/
    .subscribe-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 2rem;
       h2{
        align-self: start;
        margin-bottom: 0;
        font-size: 2.5rem;
       }
    }

    /* -----------------------------------footer section -----------------------------------------*/

    .footer-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;

        ul {
            width: 100%;

            & li:first-of-type {
                border-bottom: 2px solid var(--navy-blue);
            }
        }
        .learn-more-section {
            width: 100%;

            grid-area: 1 / 4 / 2 / 5;
        }

        .section-title {
            font-size: 3rem;
            grid-area: 1 / 5 / 2 / 6;
            text-align: right;
        }
    }
}